{% extends 'default_layout.html'%}

{% block javascript %}
 
<!--Validar reCaptcha-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block contenidos %}
<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
	<div class="jumbotron">	
		<form action="./emailes.php" method="post" id="formulario">
			<fieldset>
				<legend>Recordar Contraseña</legend>
					<div class="form-group">
						<label for="email">E-mail(*): </label>
						<input form="formulario" type="email" class="form-control" id="email" name="email" placeholder="example@server.com" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
					</div>
					<!-- Start Responsive reCAPTCHA -->
					<div class="g-recaptcha" data-sitekey="{{ publickey }}"></div>
					<!-- End Responsive reCAPTCHA-->
					<input type="submit" id="boton" class="btn btn-primary" name="boton" value="Enviar">	
					<input type="reset" class="btn btn-primary" name="" value="Restablecer"><br>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}